<%
const stamps = _.cms('stamps') || {}
let stampsList
if (stamps && Array.isArray(stamps.stamps_list) && stamps.stamps_list.length) {
  stampsList = stamps.stamps_list
}
%>

<div id="product-block" class="product-block my-4 mb-lg-5">
  <div class="container">
    <section
      id="product"
      class="product"
      data-to-render="true"
      data-product-id="<%= _.state._id %>"
      data-sku="<%= _.state.sku %>"
    >
      <div id="product-dock">
        <!--
          `TheProduct` should be rendered (hydrated) here:
          https://developers.e-com.plus/storefront/@ecomplus/storefront-components/docs/TheProduct.html
        -->
      </div>

      <div class="row">
        <div class="col-12 col-md-6 mb-4">
          <!-- Picture(s) gallery will be inserted dynamically within `TheProduct` -->
          <% if (_.state.pictures) { %>
            <% const imgObj = _.ecomUtils.img(_.state, null, 'big') %>
            <% if (imgObj) { %>
              <% const [width, height] = (imgObj.size || '').split('x').map(px => parseInt(px, 10)) %>
              <div id="product-gallery">
                <div data-slot="stamps">
                  <% if (Array.isArray(stampsList) && stampsList.length) { %>
                    <div class="product__stamps">
                      <% for (stamp of stampsList) { 
                        if (stamp.img && (!stamp.skus || !stamp.skus.length || stamp.skus.includes(_.state.sku))) {
                          %>
                          <span class="product__stamps-<%= stamp.id && stamp.id.toLowerCase().replace(/\s/g, '-') %>">
                            <img src="<%= stamp.img %>" alt="<%= stamp.id %>">
                          </span>
                        <% } %>
                      <% } %>
                    </div>
                  <% } %>
                </div>
                <div
                  class="product__picture"
                  <% if (width) { %>
                    style="max-width: <%= width %>px"
                  <% } %>  
                >
                  <picture
                    <% if (width && height) { %>
                      class="picture"
                      style="--aspect-ratio-pc: <%= Math.round(height * 100 * 10000 / width) / 10000 %>%"
                    <% } %>
                  >
                    <source
                      srcset="<%= _.ecomUtils.img(_.state).url %>"
                      type="image/webp"
                      media="(max-width: 399.98px)"
                    >
                    <source
                      srcset="<%= imgObj.url %>"
                      type="image/webp"
                      media="(min-width: 400px)"
                    >
                    <img
                      src="<%= imgObj.url.replace(/\.webp$/, '') %>"
                      alt="<%= imgObj.alt || _.state.name %>"
                      <% if (imgObj.url.startsWith('https://ecoms1.com/')) { %>
                        crossorigin="anonymous"
                      <% } %>
                      <% if (height) { %>
                        width="<%= width %>"
                        height="<%= height %>"
                      <% } %>
                    >
                  </picture>
                </div>
              </div>
            <% } %>
          <% } %>
          <!-- Custom additional code on bottom of images gallery -->
        </div>

        <div class="col">
          <h1 class="product__name">
            <%= _.ecomUtils.name(_.state) %>
          </h1>
          <p class="product__sku">
            COD: <%= _.state.sku %>
          </p>

          <div id="product-actions">
            <div id="product-loading">
              <% if (_.state.variations && _.state.variations.length) { %>
                <div data-slot="variations-info">
                  <!-- Custom info for products with variations, such as sizes table link -->
                  <% if (opt.size_guide && opt.size_guide.image) { %>
                    <% const sizeGuideTitle = opt.size_guide.title || _.dictionary('sizeGuide') %>
                    <div class="mb-3">
                      <a 
                        href="javascript:;"
                        data-toggle="modal"
                        data-target="#modal-size-guide"
                      >
                        <i class="i-ruler mr-1"></i> <%= sizeGuideTitle %>
                      </a>
                    </div>
                    <div 
                      class="modal modal-center fade" 
                      id="modal-size-guide" 
                      tabindex="-1" 
                      style="display: none;" 
                      aria-hidden="true"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header d-flex align-items-center justify-content-between">
                            <h5 class="modal-title">
                              <%= sizeGuideTitle %>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img 
                              class="img-fluid" 
                              src="<%= opt.size_guide.image %>" 
                              alt="<%= sizeGuideTitle %>"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              <% } %>

              <div class="spinner-border m-4" role="status">
                <span class="sr-only">Loading...</span>
              </div>

              <div class="product__buy">
                <button
                  type="button"
                  class="btn btn-lg btn-primary"
                  onclick="ecomCart.addProduct(storefront.context.body)"
                  <% if (_.state.variations && _.state.variations.length) { %>
                    disabled
                  <% } %>
                >
                  <div data-slot="buy-button-content">
                    <i class="i-shopping-bag mr-1"></i>
                    <% if (_.state.kit_composition && _.state.kit_composition.length) { %>
                      <%= _.dictionary('buyKit') %>
                    <% } else { %> 
                      <% let buyText %>
                      <% if (Array.isArray(_.widgets)) { %>
                        <% const productWidget = _.widgets.find(item => item.pkg === '@ecomplus/widget-product') %>
                        <% buyText = productWidget && productWidget.options.buyText %>
                      <% } %>
                      <%= buyText || _.dictionary('buy') %>
                    <% } %>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <% if (_.state.short_description) { %>
            <p class="product__info mt-3 lead">
              <%= _.state.short_description %>
            </p>
          <% } %>
        </div>
      </div>

      <%- await include('@/helpers/widgets-append', {
        _, opt: {}, field: 'productSlots'
      }) %>
    </section>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'productBlockAppend'
    }) %>
  </div>
</div>
<% 
let video = ""
if(_.state.videos && _.state.videos[0] &&  _.state.videos[0].url.includes('lojastodoverde.b-cdn.net')) {
  video = _.state.videos[0].url
}
if(video) {  %>
<style>
  .fab{
    top: 70%;
    left: 2%;
    position: absolute;
    border-radius: 15%;
    background-color: #fff;
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0;
    position: fixed;
  }
  .fab .img {
    border-radius: 15px !important;
    border: 2px solid #adbdaf;
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 2 / 3;
  }
  
  .fab .close-btn,
  .fab .close-btn:visited,
  .fab .close-btn:hover,
  .fab .close-btn:focus,
  .fab .close-btn:active,
  .fab .close-btn:disabled {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    z-index: 1001;
    padding: 0;
    margin: 0;
  }
  .video-box{height:100%}
  @media (max-width: 2040px) {
      .fab {
          width:130px!important;
          top: 50%
      }
  }

  @media (max-width: 960px) {
      .fab {
          width:120px!important;
          top: 65%
      }
  }

  @media (max-width: 720px) {
      .fab {
          width:98px!important;
          top: 70%
      }
  }
  @media (max-width: 576px) {
      .fab {
          width:86px!important;
          top: 70%
      }
  }

  .fab.expanded{
    height: 100% !important;
    width: 100% !important;
    z-index: 9999999999999999999999 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    background: #fff !important;
    border-radius: 0 !important;
  }
  .fab.expanded .img{
    aspect-ratio: unset !important;
    width: 100%!important;
    border-radius: 0 !important;
    object-fit: contain;
    border: 0!important;
  }
  .fab .close-btn svg{
    height: 20px;
    width: 20px;
  }
  .fab.expanded .close-btn{
    background: #f2f2f2;
    border-radius: 50%;
    padding: .5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
  }
  .fab.expanded .close-btn svg{
    height: 30px;
    width: 30px;
  }
  .fab .video-box{line-height: 0;}
  .fab .video-box .img{
    pointer-events: none;
  }
  .fab.expanded .video-box .img{
    pointer-events: all;
  }
  .fab .close-btn{line-height: 0;}
</style>
<div class="fab">
  <div class="video-box">
    <video class="img" autoplay="" loop="" playsinline="" muted="true"><source src="<%= video %>" type="video/mp4"></video>
  </div>
  <button class="close-btn" >
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368"/></svg></button>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('.fab .video-box').click(function() {
      $('.fab').addClass('expanded');
      let video = $('.fab video')[0]; // Seleciona o elemento de vídeo corretamente
      video.setAttribute('controls', true); // Adiciona o atributo 'controls'
      video.muted = false;
      video.currentTime = 0;
      video.play(); // Reproduz o vídeo
    });

    $('.fab .close-btn').click(function() {
      if($(this).closest('.fab').hasClass('expanded')){
        $('.fab').removeClass('expanded');
        let video = $('.fab video')[0]; // Seleciona o elemento de vídeo corretamente
        video.setAttribute('controls', false); // Adiciona o atributo 'controls'
        video.muted = true;
        video.currentTime = 0;
      }else{
        $('.fab').remove();
      }
    });


  });
</script>
<% } %>

<%
const productJsonLd = {
  '@context': 'http://schema.org',
  '@type': 'Product',
  sku: _.state.sku,
  description: _.state.short_description || _.state.meta_description || _.ecomUtils.name(_.state),
  name: _.ecomUtils.name(_.state),
  offers: {
    '@type': 'Offer',
    url: `https://${_.settings.domain}/${_.state.slug}`,
    availability: `${(_.ecomUtils.inStock(_.state) ? 'In' : 'OutOf')}Stock`,
    priceCurrency: _.settings.currency,
    price: _.ecomUtils.price(_.state),
    itemCondition: `http://schema.org/${(_.state.condition === 'new' ? 'New' : 'Used')}Condition`,
    priceValidUntil: _.ecomUtils.onPromotion(_.state) && _.state.price_effective_date && _.state.price_effective_date.end
      ? _.state.price_effective_date.end.slice(0, 10)
      : undefined,
    seller: {
      '@type': 'Organization',
      name: _.settings.name || _.store.name
    }
  }
}
if (_.state.brands && _.state.brands[0]) {
  productJsonLd.brand = {
    '@type': 'Brand',
    name: _.state.brands[0].name
  }
}
if (_.state.pictures && _.state.pictures.length) {
  productJsonLd.image = _.ecomUtils.img(_.state, null, 'zoom').url
    .replace(/(\w+\.)?(ecoms\d)\.com/i, '$2-nyc3.nyc3.cdn.digitaloceanspaces.com')
}
if (_.state.mpn && _.state.mpn[0]) {
  productJsonLd.mpn = _.state.mpn[0]
}
if (_.state.gtin && _.state.gtin[0]) {
  productJsonLd.gtin = _.state.gtin[0]
}
%>
<script id="product-block-jsonld" type="application/ld+json"><%-
  JSON.stringify(productJsonLd)
%></script>
<script type="text/javascript">
  setTimeout(() => {
    const urlParams = new URLSearchParams(window.location.search);
    const variationId = urlParams.get('variation_id');
    const variations = window._context.body && window._context.body.variations;
    if (Array.isArray(variations) && variationId) {
      const selectedVariation = variations.find(variation => variation._id === variationId);
      if (selectedVariation) {
        const $jsonLd = document.querySelector('#product-block-jsonld');
        const jsonLd = JSON.parse($jsonLd.innerText);
        jsonLd.sku = selectedVariation.sku;
        jsonLd.offers.price = selectedVariation.price;
        jsonLd.name = (selectedVariation.name && selectedVariation.name.replace('"', '')) || jsonLd.name;
        jsonLd.offers.url = `${jsonLd.offers.url}?variation_id=${variationId}`;
        document.querySelector('#product-block-jsonld').innerText = JSON.stringify(jsonLd);
      }
    }
  }, 50);
</script>
